annotated-doc==0.0.4 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.12.1 ; python_version >= "3.10" and python_version < "3.13"
click==8.3.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
dotenv==0.9.9 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.1 ; python_version == "3.10"
fastapi==0.121.3 ; python_version >= "3.10" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.11 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.41.5 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.12.5 ; python_version >= "3.10" and python_version < "3.13"
python-box==7.3.2 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.50.0 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.40.0 ; python_version >= "3.10" and python_version < "3.13"
