<link rel="stylesheet" href="faq.css">

<div id="general-faq" class="faq-container">


  <details>
    <summary>What is sample?</summary>
    <p>This is a Sample repo with minimal setup with streamlit and poetry with fast api. go through README and start.
    </p>
  </details>

  <details>
    <summary>What are the main packages?</summary>
    <ul>
      <li>we are using streamlit for front end and Fast API for backend. </li>
      <li>we also have versioning system, if you change version in `pyproject.toml`, it will automatically reflected in
        api</li>
      <li>using `Box` for centralized messaged which later can be changed using i18n support.</li>
    </ul>
  </details>

  <details>
    <summary>What are your services?</summary>
    <p>Our services primarily revolve around providing an showcase platform, ensuring seamless experience.</p>
  </details>

  <details>
    <summary>How it is different from others?</summary>
    <p>This is a useful to start the development with pre-defined template and best practices</p>
  </details>



</div>

<div id="technical-faq" class="faq-container">

  <details>
    <summary>What image formats are supported?</summary>
    <p>JPEG and PNG are supported...</p>
  </details>

  <details>
    <summary>Why does color extraction fail sometimes?</summary>
    <p>Low contrast or corrupted profiles cause extraction errors.</p>
  </details>

  <details>
    <summary>Why does processing take time?</summary>
    <p>Resolution, CPU/GPU load, and complexity affect speed.</p>
  </details>
  <details>
    <summary>Is my data secure?</summary>
    <p>Yes, we takes data security seriously.</p>
  </details>

  <details>
    <summary>What happens if an upload fails?</summary>
    <p>If an upload fails, it will display errors.</p>
  </details>

</div>